<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="browser" value="chrome"/>
    <parameter name="env" value="dev"/>
    <test name="LiquidityOne">
        <classes>
            <class name="tests.Authorization_Login"/>
            <class name="tests.Authorization_Register"/>
        </classes>
    </test>
</suite>